@import '/src/Fonts/Fonts.css'; 
.imagemPerfil{
    display: flexbox;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('https://picsum.photos/id/237/200/300');
    top:10vh;
}
.tituloPrincipal{
    display: flexbox;
    position: relative;
    font-family: "Share tech mono", sans-serif;
    margin-top: 50px;
    font-size: 2.7rem;
    text-align: center;
    color: #e9e9e9;
    top: 5vh;
}
.tituloApresentacao{
    display: inline-flex;
    width:750px ;
    font-family: "Share tech mono", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    right: 10rem;
    justify-content: center;
    text-align: center;
    color: #fffafa;
}