@import '/src/Fonts/Fonts.css'; 
.imagemPerfil{
    display: flexbox;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('/src/assets/imagem.jpg');
    top:10vh;
}
.tituloPrincipal{
    display: flexbox;
    position: relative;
    font-family: "Share tech mono", sans-serif;
    margin-top: 50px;
    font-size: 2.7rem;
    text-align: center;
    color: #e9e9e9;
    top: 5vh;
}
.tituloApresentacao{
    display: inline-flex;
    width:750px ;
    font-family: "Share tech mono", sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    right: 10rem;
    justify-content: center;
    text-align: center;
    color: #fffafa;
}
@media screen and (max-width:767px) and (min-width:320px){
    .imagemPerfil { 
        display:flex;
        position: relative;
        justify-content: center;
        top: 25px;
        left: 10vw;
        height: 200px;
        width: 200px;
    }
    .tituloPrincipal{
        display: flex;
        position: relative;
        font-size: 25px;
        top: 10px;
        left: 30px;

    }
    .tituloApresentacao{
        display: flex;
        position: relative;
        font-size: 15px;
        left: 15px;
        width: 300px;
        padding-top: 20px;
    }
}

