@import '/src/Fonts/Fonts.css'; 
.menu{
    z-index: 1000;  
    display: flex;
    position:fixed;
    width: 1900px;
    height: 1px;
    bottom: 100px;  
    
}
.menuItems {
    
    
    display: flex;
    position: relative;
    width: 1900px;
    height: 50px;
    flex-direction: row;
    padding: 0;
    left: 980px;
    bottom: 1350px;
    font-family: "Ibm Plex Mono", sans-serif;
    gap: 30px;
    
}
.menuItems li{
    display: flex;
    position: relative;
    
    font-family: "Ibm Plex Mono", sans-serif;  
    left: 1060px;
    align-items: center;
    
}
.menuItems li a{
    color:#787373aa;
    text-decoration: none;
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 12px;
}
.menuItems li a:hover{
    color:rgba(207, 204, 204, 0.857) ;
    transition: all 0.3s ease-in-out;
}
.fotoPerfil{
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    left: 800px;
    top: 550px;
    border-radius: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-start-end-radius:20px;
    border-end-start-radius:20px ; 
}
.textoPrincipal{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1900px;
    height: 1800px;
    left:10px;
    bottom:50px;
    justify-content: center;
    align-items: center;
    font-family: "Ibm Plex Mono", sans-serif;
    
    
}
.containerInicio{
    display: flex;
    position: relative;
    width: 1900px;
    height: 1100px;
    left: 20%;
    top:1px;
    justify-content: center;
    align-items: center;
    font-family: "Ibm Plex Mono", sans-serif;
}
.tituloPrincipal{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Ibm Plex Mono", sans-serif;
    height: 20px;
    font-size: 60px;
    text-align: center;
    color: #e9e9e9;
    font-weight: 200;
    top: 90px;
}
.subTituloPrincipal{
    display: flexbox;
    position: relative;
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #e9e9e9;
    font-weight: 100;
    top: 80px;
}

.textoApresentacao{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: start;
    height: 1450px;
    width: 1900px;
    margin-top: 30px;
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    color: #e9e9e9;
    
    opacity: 0;
    top: 550px;
    left: 300px;
}
.tituloSobre{
    display: flex;
    position: relative;
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 60px;
    align-items: start;
    justify-content: center;
    color: #e9e9e9;
    /* top: 50px; */
    /* left: 15px; */
    font-weight: 200;
    width: 1585px;
    height: 750px;
    top: 100px;
}
.tituloApresentacao{
    display: flex;
    position:absolute;
    width:750px;
    height: 750px;
    align-items: center;
    font-family: "Ibm Plex Mono", sans-serif;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    font-size: 1.2rem;
    font-weight: 100;
    justify-content: center;
    text-align: center;
    color: #eaeaea;
    
}
.buttonProject,.buttonContact {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    left: 800px;
    top: 100px;
    background-color: #323131e2;
    list-style: none;
    border: #2d2929 solid 1px;
    border-radius: 15px;
    
}
.buttonProject:hover, .buttonContact:hover{
    background-color: #8f8888b5;
    color: #2d2929;
    transition: all 0.3s ease-in-out;
}
.buttonProject a{
    text-decoration: none;
    color: #bfbaba97; 
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    list-style: none;
}
.buttonContact a{
    color: #bfbaba97; 
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    text-decoration: none;
}

.buttonsAcess{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
    left: 230px;
    top: 650px;
    z-index: 1000;
    
}
@media screen and (max-width:767px) and (min-width:320px){
    .imagemPerfil { 
        display:flex;
        position: relative;
        justify-content: center;
        top: 25px;
        left: 10vw;
        height: 200px;
        width: 200px;
    }
    .tituloPrincipal{
        display: flex;
        position: relative;
        font-size: 25px;
        top: 10px;
        left: 30px;

    }
    .tituloApresentacao{
        display: flex;
        position: relative;
        font-size: 15px;
        left: 15px;
        width: 300px;
        padding-top: 20px;
    }
}

