@import '/src/Fonts/Fonts.css'; 
.menu{
    z-index: 1000;  
    display: flex;
    position:fixed;
    width: 1585px;
    height: 1px;
    bottom: 100px;  
    
}
.menuItems {
    background-color: rgba(255, 255, 255, 0.2) ;
    display: flex;
    position: fixed;
    width: 15850px;
    height: 50px;
    flex-direction: row;
    padding: 0;
    bottom: 690px;   
    font-family: "Ibm Plex Mono", sans-serif;
    gap: 30px;
    
}
.menuItems li{
    display: flex;
    position: relative;
    color:#eaeaea;
    font-family: "Ibm Plex Mono", sans-serif;  
    left: 1060px;
    align-items: center;
    
}
.menuItems li a{
    color:#eaeaea;
    text-decoration: none;
    font-family: "Ibm Plex Mono", sans-serif;
}
.menuItems li a:hover{
    color:rgba(255, 255, 255, 0.5) ;
    transition: all 0.3s ease-in-out;
}

.textoPrincipal{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1585px;
    height: 750px;
    justify-content: center;
    align-items: center;
    font-family: "Ibm Plex Mono", sans-serif;
    
    
}
.tituloPrincipal{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Ibm Plex Mono", sans-serif;
    height: 20px;
    font-size: 60px;
    text-align: center;
    color: #e9e9e9;
    font-weight: 200;
}
.subTituloPrincipal{
    display: flexbox;
    position: relative;
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #e9e9e9;
    font-weight: 100;
}

.textoApresentacao{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: start;
    height: 750px;
    width: 1585px;
    margin-top: 30px;
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    color: #e9e9e9;
    transform: translateX(-800px);
    opacity: 0;
    bottom: 30px;
}
.tituloSobre{
    display: flex;
    position: relative;
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 60px;
    align-items: start;
    justify-content: center;
    color: #e9e9e9;
    /* top: 50px; */
    /* left: 15px; */
    font-weight: 200;
    width: 1585px;
    height: 750px;
}
.tituloApresentacao{
    display: flex;
    position:absolute;
    width:750px;
    height: 750px;
    align-items: center;
    font-family: "Ibm Plex Mono", sans-serif;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    font-size: 1.2rem;
    /* top: 300px; */
    font-weight: 100;
    justify-content: center;
    text-align: center;
    color: #eaeaea;
    
}
@media screen and (max-width:767px) and (min-width:320px){
    .imagemPerfil { 
        display:flex;
        position: relative;
        justify-content: center;
        top: 25px;
        left: 10vw;
        height: 200px;
        width: 200px;
    }
    .tituloPrincipal{
        display: flex;
        position: relative;
        font-size: 25px;
        top: 10px;
        left: 30px;

    }
    .tituloApresentacao{
        display: flex;
        position: relative;
        font-size: 15px;
        left: 15px;
        width: 300px;
        padding-top: 20px;
    }
}

