.icon{
    display: flex;
    position: static;
    justify-content: center;
    top:100px;
    gap: 20px;

}
.social{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.icon i{
    font-size: 20px;
    color: #fffafa;
}
