.icon{
    display: flex;
    position: fixed;
    width: 1000px;
    justify-content: center;
    left: 740px;
    align-items: start;
    bottom: 50px;
    gap: 20px;
    

}
.social{
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
}
.icon i{
    font-size: 30px;
    color: #eaeaea;
}
.icon i:hover{
    color:rgba(255, 255, 255, 0.5) ;
    transition: all 0.3s ease-in-out;
}