.habilidades{
    display: flexbox;
    font-family: 'Share tech mono';
    position: relative;
    margin-top: 50px;
    font-size: 2.3rem;
    text-align: center;
    color: #e9e9e9;
    bottom: 5vh;
}
.iconesHabilidades{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    right: 2vh;
    bottom: 8vh;
}
li{
    list-style: none;
    font-size: 1rem;
    font-family: "Share tech mono", sans-serif;
    margin: 10px;
    justify-content: space-between;
}
ul p{
    font-family: "Share tech mono", sans-serif;
    height: 10px;
    width: 13rem;
    margin: 0; 
    font-weight: bold;
    font-size: 0.9rem;
    color: #fffafa;
}