

/*
.habilidades{
    display: flex;
    font-family: 'ibm Plex Mono', sans-serif;
    position: relative;
    margin-top: 50px;
    font-size: 2.3rem;
    text-align: center;
    justify-content: center;
    color: #e9e9e9;
    top: 260px;
    left: 15px;
    font-weight: 200;
}
.iconesHabilidades{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    right: 2vh;
    top: 600px;
}
li{
    list-style: flex;
    font-size: 1rem;
    font-family: "Share tech mono", sans-serif;
    margin: 10px;
    justify-content: space-between;
}
ul p{
    font-family: "Share tech mono", sans-serif;
    height: 10px;
    width: 13rem;
    margin: 0; 
    font-weight: bold;
    font-size: 0.9rem;
    color: #fffafa;
}
@media screen and (max-width:767px) and (min-width:320px)
{
    .habilidades{
        display: flex;
        position: relative;
        font-size: 25px;
        left: 30px;
    }

    .iconesHabilidades{
        display: grid;
        grid-template-columns:repeat(2, 1fr) ;
        gap: 10px;
        width:250px;
        font-size: 25px;
        bottom: 55px;
        margin: 2px;
    }
    .iconesHabilidades i{
        font-size: 50px;
    }
    .iconesHabilidades  p {
        font-size: 12px;
        position: relative;
        width: 100px;
        text-align: center;
        /* left:15px; */
    /* } */
    /* li:last-child {
        position: relative;
        left: 50%;
        gap: 10px;
        top: 25px;
        
    }
    p:last-child{
        position: relative;
        justify-content: center;
        align-items: start;
        left: 8%;
    }
    li:hover{
        color: rgb(51, 3, 134);
        
    }
    p:hover{
        color: rgb(51, 3, 134);
    }
    } */ 


    .slide-item{
        display: flex;
        position: relative;

        width: 250px;
        height: 250px;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: aquamarine;
        
    }

    .swiper-button-prev::after, .swiper-button-next::after{
        color: #e9e9e9;
    }

    .title{
        display: flex;
        position: relative;
        font-family: 'ibm Plex Mono', sans-serif;
        font-size: 60px;
        text-align: center;
        justify-content: center;
        color: #e9e9e9;
        width: 1585px;
        font-weight: 200;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        width: 1585px;
        height: 750px;
        position: relative;
        background-color: rgb(37, 74, 2);
    }
    .swiper{
        display: flex;
        position: relative;
        width: 250px;
        height: 250px;
        justify-content: center;
        align-items: end;
        overflow: hidden;
        background-color: blueviolet;
    }
    .swiper img{
        width: 100px;
    }