.icon{
    display: flex;
    position: static;
    justify-content: center;
    top:100px;
    gap: 20px

}
.footer{
    display: flex;
    position: relative;
    background-color: white;
    width: 100vw;
    height: 100vh;
  
}
