    #projetos{
    width: 1900px;
    height: 750px;
    display: flex;
    position: relative;
    font-family: "Ibm Plex Mono", sans-serif;
    text-align: center;
    color: #e9e9e9;
    justify-content: center;
    font-weight: 100;
    bottom: 200px;
    left: 300px;
    opacity: 0;
    transition:0.2s ease-in-out;         
    
    
}
#projetos h1 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 200;
    position: relative;
    bottom: 40px;
    left: 540px;
}
#projetos .projetos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 40px;
    right: 100px;
}
.projetos-list img {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 500px;
    right: 50px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.projetos-list img:hover {
    transform: scale(1.05);

}
.descricaoProjeto{
    position: absolute;
    width: 465px;
    height: 500px;
    left: 220px;
    top: 375px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px 32px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.projeto1:hover .descricaoProjeto, .projeto2:hover .descricaoProjeto2 {
    opacity: 1;
}
.descricaoProjeto2{
    position: absolute;
    width: 465px;
    height: 500px;
    left: 760px;
    top: 375px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px 32px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.vermais{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    width: 250px;
    height: 30px;
    left: 1110px;
    bottom: 200px;  
    font-family: "Ibm Plex Mono", sans-serif;  
}
.vermais a{
    color: #535252;
    text-decoration: none;
    font-weight: 500;
}
.vermais a:hover {
    transition: color 0.3s ease-in-out;
    color: #e9e9e9;
}