    .projetos{
    width: 1585px;
    height: 750px;
    display: flex;
    position: relative;
    font-family: "Ibm Plex Mono", sans-serif;
    font-size: 60px;
    text-align: center;
    color: #e9e9e9;
    justify-content: center;
    font-weight: 100;
    transform: translateX(-800px);
    opacity: 0;   
}
    #projetos{
    display: flex;
    position: relative;
    bottom: 140px;
    width: 1585px;
    height: 750px;
}

    .mySwiper{
    display: flex;
    position: relative;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    bottom: 700px;
    left: 85px;
    

}
    .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:  black;
}
    .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: black ;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
    .swiper-pagination-bullet{
    background-color: black;
}