:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.249);
  background-color: #000000;


    background: linear-gradient(180deg, #000000e3 2%, #29262ccb 25%, #000000e3 100%);
  /* background-attachment: fixed; */
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
  /* background-color: #2a2a2a; */
	height: 100%;
  max-width: 1201px;
}

@media screen and (max-width: 767px){
  body{
    flex-direction: column;
    height: auto;
    min-height: auto;
  }
}